<html>
<h1> <p style="font-family:arial"> Peeps and Time posted</p> </h1>
 <body style="background-color:aquamarine;"
<ul>
<% @peeps.each do |peep| %>
<p style="font-family:arial">
<br><b>Peep:</b> <i><%= peep.peep_text %></i>
<br><b>Posted time:</b> <i><%= peep.time[0...16]%><br></i>
</p>
<% end %>
</ul>
<br>
